*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 2% 8%;
}
.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 77px;
    
}

.navbar ul{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 50px;
    /* background: green; */
}
.navbar ul li{
    display: flex;
    list-style: none;
    cursor: pointer;

    /* background: yellow; */

}

.content{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;

}
.content .main-container{
/* background: red; */
height: fit-content;
display: flex;
flex-direction: column;
padding: 10px;
    width:100%;
}
.main-container img{
    width:100%;
/* aspect-ratio: 1; */



}

.main-container .mcc{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px
}
.main-container .mcc h1{
  
     width: 300px;
    font-size: 3rem;
 
     font-weight: 900;
}
.main-container .mcc  div{
    
}
.main-container .mcc p{
   width: 460px;
     color: #b3b3b3;
 
   padding: 10p 70px;
   display: block;
   font-size: 1.2rem;
}
.main-container .mcc  a{
   background: #F15D51;
    display: block;
    margin-top: 30px;
    height: 40px;
    width: 200px;
    text-decoration: none;
    color: white;
    padding: 10px;
      text-align: center;
    letter-spacing: 4px;
    
    
    
 
}
.main-container .mcc  a:active{
    background: black;

 }


.content .side-content{

    padding: 10px;
    margin-left: 15px;
}
.content .side-content .card{
 background: #00001A;
    height: 94%;
    width:100%;
    padding:35px;
    /* margin-left: 10px */
}
.card h1{
    font-size: 2rem;
    color:#EDAC50;
    margin:10px 0px;
}
    
.card .card-content{
    color: white;
/*     padding: 0 10px; */
    /* margin-left: 10px; */
    
}
.card .card-content .sec{
    margin:34px 0px;
}


.card .card-content h2{
    color: white;
    font-weight: 500;
    margin-bottom: 20px; 
    font-size: 1.5rem;
}
.card-content .text{
    font-size: 1.2rem;
    color: #b3b3b3;
    margin-top: 10px;
}

.content .headline{
margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 18px;
}
.headline .card {
    display: flex;
gap: 20px;
width: fit-content;
}
.headline img{
    height: 150px;
    width: auto;
}
.headline .innerc{
    display: flex;
flex-direction: column;
gap: 10px;
width: 290px;
}
.headline span{
    color: #b3b3b3;
    font-size: 2.8rem;
    font-weight: 700;
}
.headline h3{
    /* color: #b3b3b3; */
    font-size: 1.4rem ;
    
}
.headline .text{
    color: #b3b3b3;
    /* font-size: 2rem; */
}
@media only screen and (max-width:768px){
body{
padding: 10px ;

}

    .navbar{
        width: 100%;
        /* background: red;? */
        padding: 0px;
        margin: 0px;
    }
.content{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.content .main-container{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
/* flex-direction: column; */
padding: 0;
}
.main-container img{
    height:auto;
    width: 100%;
}
.main-container .mcc{
    flex-direction: column;
    /* overflow: hidden; */
}
.main-container .mcc h1{
    width: 70%;
}
.main-container .mcc p{
    width: 90%;
}


.content .side-content{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
.content .headline{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    flex-direction: column;
    }
    .content .headline{

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        flex-direction: column;
        }
        .headline .card{
            margin: 10px;
        }
}